body {
  background-color: #cae3f4;
}

header {
  display: flex;
  justify-content: center;
  font-size: 5rem;
  font-style: italic;
  margin-top: 2rem;
  margin-bottom: 5rem;
  background-color: aliceblue;
}

.image-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.product-image {
  max-width: 30%;
  width: 20%;
  max-height: auto;
  height: auto;
}

#results {
  display: flex;
  justify-content: center;
  float: left;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 30%;
  margin-bottom: 5%;
  font-size: 1.5rem;
}

ul {
  list-style: square;
}

li {
  padding-top: .5rem;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 30rem;
  width: 30rem;
  max-height: auto;
  height: auto;
  font-size: 2rem;
  padding: 10px 20px;
  background-color: lightgrey;
  color:black;
  border: 2px dotted black;
  border-radius: 4rem;
  cursor: pointer;
}

button:hover {
  background-color: #5fabdd;
}

#directions {
  display: flex;
  justify-content: center ;
  align-content: center;
  font-size: 2rem;
  height: 10rem;
  width: 40%;
  margin-top: 6rem;
  margin-bottom: 3rem;
  text-align: center;
  margin-left:30% ;
  border-radius: 2rem;
  background-color: aliceblue;
  padding-top: 1rem;
}

canvas {
  display: block;
  margin: 0 auto;
  max-width: 1000px;
  width: 100%;
  height: auto;
  margin-top: 10rem;
  margin-left: 30rem;
}